{% extends "layout/sbase.html" %}

{% block css %}
		<link href="/static/css/dist/about.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block frontmnav %}
{{common.frontmnav("about")}}
{% endblock %}

{% block container %}
<div class="main">
            <div class="bg"></div>
            <div class="s960 warp">
                <div class="content">
                    <h3>
                        天边外文化交友俱乐部简介
                    </h3>
                    <p>
         天边外文化交友俱乐部是您身边最近的文化娱乐生活圈，我们竭诚为您打造下沙最大最优质的交友平台。
                    </p>
                    <p>
         加入天边外会员除了可以享受到全下沙最火热的商家消费的终身打折的优惠之外还能免费参加天边外俱乐部所举办的一年的近20场的文化娱乐活动，包括明星艺人歌友会，演唱会，签售会，见面会等，我们在九月份和十月份为您准备的活动包括2013年中国好声音优秀学员蘑菇头李琦的3+2摇滚乐队演唱会，更有人气嘉宾歌手快乐男声杭州赛区十强，全国二十强的新星歌手肖力志现场助阵让您嗨爆全场！另外，我们还为您邀请了世界钢琴天才沈文裕为您奉上《大师也疯狂》--世界钢琴天才沈文裕2013杭州天边外疯狂音乐会，让您感受高雅音乐的魅力。
           活动无限多！打折无限有！吃喝玩乐！省！省！省！赶快加入我们吧!!!
                    </p>
                </div>
            </div>
        </div>
{% endblock %}

