{% extends "layout/sbase.html" %}

{% block css %}
<link rel="stylesheet" href="static/css/news.css" media="screen,projection">
{% endblock %}

{% block container %}

   <hr>

        <div id="intro">
            <div class="inner">
                <div class="wrap clearFix">
                    <div class="content">
                        <h1>经典案例</h1>
                    </div>
                </div>
            </div>
        </div>

<div id="content">
            <div class="wrap clearFix">

                <ul class="list">
                    <li>
                        <a href="#">三电信运营商4G制式存变数 移动也上FDD</a>
                        <span>2013-12-13</span>
                    </li>
                    <li>
                        <a href="#">苹果公司自建太阳能电厂为数据中心供电</a>
                        <span>2013-12-13</span>
                    </li>
                    <li>
                        <a href="#">中兴与迪信通达成合作 年度目标包销100万台</a>
                        <span>2013-12-13</span>
                    </li>
                    <li>
                        <a href="#">三电信运营商4G制式存变数 移动也上FDD</a>
                        <span>2013-12-13</span>
                    </li>
                    <li>
                        <a href="#">苹果公司自建太阳能电厂为数据中心供电</a>
                        <span>2013-12-13</span>
                    </li>
                    <li>
                        <a href="#">中兴与迪信通达成合作 年度目标包销100万台</a>
                        <span>2013-12-13</span>
                    </li>
                    <li>
                        <a href="#">三电信运营商4G制式存变数 移动也上FDD</a>
                        <span>2013-12-13</span>
                    </li>
                    <li>
                        <a href="#">苹果公司自建太阳能电厂为数据中心供电</a>
                        <span>2013-12-13</span>
                    </li>
                    <li>
                        <a href="#">中兴与迪信通达成合作 年度目标包销100万台</a>
                        <span>2013-12-13</span>
                    </li>
                </ul>
                <ul class="pager">
                    <li>
                        <a href="#">上一页</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li class="selected">
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">下一页</a>
                    </li>
                </ul>
            </div>
        </div>


{% endblock %}