{% extends "layout/sbase.html" %}

{% block css %}
<link rel="stylesheet" href="static/css/index.css" media="screen,projection">
{% endblock %}

{% block container %}

   <hr>

        <div id="intro">
            <div class="inner">
                <div class="wrap clearFix">
                    <div class="content">
                        <h1>e动传播</h1>

                        <p>
                            最活跃的消费群体，品牌培养的最后阵地，国内最专业的高校媒体运营商
                        </p>

                    </div>
                </div>
            </div>
        </div>

 <div id="info">
            <div class="wrap clearFix">
                <ul>
                    <li class="col col-love">
                        <h2>品牌</h2>
                        <p>
                            “E动传播”互动媒体平台是浙青传媒2013年全力打造的数字化触控新媒体。

                        </p>
                    </li>
                    <li class="col col-respons">
                        <h2>技术</h2>
                        <p>
                            独创42寸LED数字型高触控高校互动媒体，采用最新的3G无线组网技术，即时发布，精准受众；零距离传递产品形象。
                        </p>
                    </li>
                    <li class="col col-integ">
                        <h2>影响力</h2>
                        <p>
                            覆盖浙江省40余所本科以上院校，覆盖75万在校大学生。
                        </p>
                    </li>

                </ul>
            </div>
        </div>
        
                <hr>

        <div id="content">
            <div class="wrap clearFix">

                <h2>关于我们</h2>

                <div class="clearFix block">
                    <div class="col floatLeft">

                        <h3>背景</h3>

                        <p>
                            E动传媒自2009年成立以来，是目前浙江省内最大的高校互动媒体平台，也是高校最具影响力的互动终端运营机构。
                        </p>

                        <p>
                            目前，多媒体互动终端已覆盖26个高校，500余个高性价比互动终端落户杭州，宁波。占据高校寝室、食堂、服务大厅等位置。另有杭州市高校户外最大的LED广告屏幕。
                        </p>
                        <p>
                            全方位整合高校媒体资源，凭借资源和项目运作优势，将广告营销、活动营销、终端销售三位一体植入校园，利用新媒体技术和APP手机终端，打造新时代的整合营销平台，成为企业进入高校市场的重要通路。
                        </p>

                    </div>
                    <div class="col floatRight">

                        <h3>多媒体广告屏覆盖点</h3>

                        <div class="chart">

                            <p>
                                <strong>市区院校</strong> 70%
                            </p>
                            <div class="pipe">
                                <div style="width: 70%"></div>
                            </div>

                            <p>
                                <strong>小和山</strong> 80%
                            </p>
                            <div class="pipe">
                                <div style="width: 80%"></div>
                            </div>

                            <p>
                                <strong>滨江高教园</strong> 40%
                            </p>
                            <div class="pipe">
                                <div style="width: 40%"></div>
                            </div>

                            <p>
                                <strong>下沙高教园</strong> 70%
                            </p>
                            <div class="pipe">
                                <div style="width: 70%"></div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="clearFix block">

                    <div class="col little floatLeft">

                        <h3>E动案例</h3>

                        <p>
                            浙江大学校园新媒体应用交流论坛。
              <br/>              
                            浙江大学城市学院校园新媒体暨“青年通”多媒体平台开通仪式。
              <br/>              
                            宁波大学“青年通”多媒体平台推介会。
                        </p>
                    </div>

                    <div class="col big floatRight">

                        <img src="static/images/al-1.jpg" alt="#">
                        <img src="static/images/al-2.jpg" alt="#">
                        <img src="static/images/al-3.jpg" alt="#">
                    </div>

                </div>

                <h2>E动客户</h2>

                <ul class="logos">
                    <li>
                        <img src="static/images/logos/logo-0.png" alt="logo">
                    </li>
                    <li>
                        <img src="static/images/logos/logo-1.png" alt="logo">
                    </li>
                    <li>
                        <img src="static/images/logos/logo-2.png" alt="logo">
                    </li>
                    <li>
                        <img src="static/images/logos/logo-3.png" alt="logo">
                    </li>
                    <li>
                        <img src="static/images/logos/logo-4.png" alt="logo">
                    </li>
                    <li>
                        <img src="static/images/logos/logo-5.png" alt="logo">
                    </li>
                    <li>
                        <img src="static/images/logos/logo-6.png" alt="logo">
                    </li>
                    <li>
                        <img src="static/images/logos/logo-7.png" alt="logo">
                    </li>
                </ul>

            </div>
        </div>


{% endblock %}