{% extends "layout/sbase.html" %}

{% block css %}
<link rel="stylesheet" href="static/css/product.css" media="screen,projection">
{% endblock %}

{% block container %}

   <hr>

        <div id="intro">
            <div class="inner">
                <div class="wrap clearFix">
                    <div class="content">
                        <h1>公司产品</h1>
                    </div>
                </div>
            </div>
        </div>

        

        <hr>

        <div id="content">
            <div class="wrap clearFix">
                <img src="../../static/images/products/product-01.png" />
                <img src="../../static/images/products/product-02.png" />
                <img src="../../static/images/products/product-03.png" />
                <img src="../../static/images/products/product-04.png" />
                <img src="../../static/images/products/product-05.png" />
            </div>
        </div>

{% endblock %}