{% extends "layout/sbase.html" %}

{% block css %}
<link rel="stylesheet" href="static/css/school.css" media="screen,projection">
{% endblock %}

{% block container %}

   <hr>

        <div id="intro">
            <div class="inner">
                <div class="wrap clearFix">
                    <div class="content">
                        <h1>校园导航</h1>
                    </div>
                </div>
            </div>
        </div>

<div id="content">
            <div class="wrap clearFix">

                <h2>覆盖院校</h2>

                <ul class="logos">
                    <li>
                        <img src="../../static/images/logos/logo-0.png" alt="logo">
                    </li>
                    <li>
                        <img src="../../static/images/logos/logo-1.png" alt="logo">
                    </li>
                    <li>
                        <img src="../../static/images/logos/logo-2.png" alt="logo">
                    </li>
                    <li>
                        <img src="../../static/images/logos/logo-3.png" alt="logo">
                    </li>
                    <li>
                        <img src="../../static/images/logos/logo-4.png" alt="logo">
                    </li>
                    <li>
                        <img src="../../static/images/logos/logo-5.png" alt="logo">
                    </li>
                    <li>
                        <img src="../../static/images/logos/logo-6.png" alt="logo">
                    </li>
                    <li>
                        <img src="../../static/images/logos/logo-7.png" alt="logo">
                    </li>
                </ul>
            </div>
        </div>


{% endblock %}